body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #000000;
    font-family: sans-serif;
}

/*barra navegación*/

.head {
    display: flex;
    justify-content: flex-end;
    background-color: #17134d;
    padding: 10px;
}
.navbar a {
    color: #ffffff;
    text-decoration:solid;
    text-transform: uppercase;
    font-size: 13px;
    font-family: sans-serif;
    margin-right: 10px;
    padding: 10px 10px; /* Ajusta el espaciado interno para igualar la altura */
}
.navbar a:hover {
    color: #e90b3b;
    background-color: #eef1f4;
    border-radius: 5px; /* Añade bordes redondeados si lo deseas */
}

/*--Contenido descriptivo--*/

.content-personal {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0 rgba(223, 221, 221, 0.945);
    padding: 20px;
    margin: 20px 80px;
    border-radius: 5px;
    border:  1px solid black;
    height: auto;
}

.description{
    background-color: #ccdbdb;
    padding: 15px 15px;
    border-radius: 5px;
    text-align: justify;
}

.cajas1{
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grupo{
    border: solid 1px #000000;
    padding: 10px 10px;
    margin: 30px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portafoliopropio{
    background-color: #201E43;
    width: auto;
    height: auto;
    border-radius: 50px;
}

.contenidodescrp{
    padding: 5px 15px;
    background-color: #ccdbdb;
    border: solid 1px #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: justify;
}

.sectiong{
    background-color: #ffffff;
}

h2{
    padding: 5px;
    text-align: center;
    margin: 0px 25rem;
    background-color: #0E8388;
    color: #ffffff;
    border-radius: 5px;
}

.Imgabout{
    width: 200px;
    height: 160px;
    border-radius: 50px;
}

/*----------------------------Finalización de contenido e inicio de pie de página----------------------------*/
footer {
    justify-content: center;
    background-color: #201E43;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}
